<section class="img-container">
  <img src="assets/img/potatoes-login-bg-2.png" srcset="App logo">
</section>
<main class="main-container">
  <h1 class="title">{{ title }}</h1>
  <form [formGroup]="loginForm" class="form-container">
    <mat-form-field appearance="outline">
      <mat-label>Nombre de usuario</mat-label>
      <input matInput formControlName="userName">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Contraseña</mat-label>
      <input matInput type="password"  formControlName="password">
    </mat-form-field>

    <button class="login-btn" (click)="login()"> Ingresar </button>
  </form>
</main>
