
.title-container {
  display: flex;
  padding: 20px;
  justify-content: space-between;
  align-items: center;

  .title {
    font-size: 30px;
  }
}

.table-container {
  display: flex;
  padding: 20px;
}

.btn {
  background-color: black;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  height: fit-content;
  padding: 10px 15px;
}

.paginator-container {
  display: flex;
  padding: 20px;
  justify-content: flex-end;
}

.filters-container {
  display: flex;
  align-items: center;
  gap: 30px;
  justify-content: flex-end;
  padding: 20px;
  flex-wrap: wrap;

  form {
    display: flex;
    gap: 20px;
    align-items: center;
  }
}

.actions-container {
  display: flex;
  align-items: center;
  gap: 15px;

  .action-btn {
    border-radius: 5px;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-weight: 700;
  } 

  .edit-btn {
    background-color: yellowgreen;
  }

  .remove-btn {
    background-color: rgb(223, 35, 35);
    color: white;
  }
}